:root {
  --text-primary: #fff;
  --text-secondary: #363232;

  --bg-primary: #dad5d5ce;
  --bg-secondary: #424242;

  --text-success: #2e9c2e;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.d-flex {
  display: flex;
}
.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.fd-column {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.btn {
  border: none;
  padding: 0.8rem 1.5rem;
  opacity: 0.8;
  background: var(--text-success);
  transition: opacity 0.5s ease-in;
}

.btn,
.modal-copy__copy-pass {
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.modal-copy__copy-pass{
  background: var(--bg-primary);
  color: var(--text-secondary);

}

.container {
  width: 95%;
  padding: 3rem;
  border-radius: 2px;
  box-shadow: 2px 2px #ffffff;
  background: #1d1c1d;
  gap: 2rem;
}

.container-range {
  gap: 1.3rem;
}

.container-range > input {
  cursor: pointer;
}

.modal {
  text-align: center;
  position: fixed;
  inset: 0;
  background: rgb(250, 250, 250);
  color: #fff;
  transform: translateX(0);
  transition: transform 0.2s ease-in;
}

.modal--hide {
  transform: translateX(-150%);
}

.modal-copy {
  width: 90%;
  min-height: 40vh;
  gap: 1rem;
  padding: 1rem;
}
.modal-copy__container-copy {
  background: var(--bg-secondary);
}
.modal-copy__copy-pass {
  padding: 0.8rem;
  transition: all 0.9s ease-in;
  transform: scale(0.9);
  font-size: 0.9rem;
  animation: copy 2s ease-in-out infinite;
}

.modal-copy__title {
  font-size: 0.9rem;
  color: var(--text-success);
}

.message-info--hide,
.btn-generate--hide {
  visibility: hidden;
  opacity: 0;
}

.message-info {
  text-align: center;
  width: inherit;
  padding: 0.9rem;
  box-shadow: -2px -2px 10px currentColor,
    2px 2px 10px currentColor -2px -2px 10px currentColor,
    2px 2px 10px currentColor;
  font-size: 0.9rem;
}
.label {
  text-align: center;
  font-size: 0.8rem;
}

/* 560px */
@media screen and (min-width: 560px) {
  .modal-copy__copy-pass {
    width: 60%;
  }
}

/*920px */
@media screen and (min-width: 920px) {
  h1 {
    font-size: 1.6rem;
  }
  .container {
    width: 80%;
  }
  .modal-copy {
    width: 70%;
    min-height: 30vh;
  }
  .modal-copy__title {
    font-size: 1.2rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .modal-copy__copy-pass:hover {
    animation: none;
  }

  .btn:hover {
    opacity: 1;
  }
}

@keyframes copy {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
